.Footer button {
  color: var(--button-text-color);
  font-weight: var(--button-font-weight);
  background-color: var(--button-bg-color);
  border: var(--button-border-width);
  border-color: var(--button-border-color);
  border-style: var(--button-border-style);
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  margin: 10px 5px 0 10px;
}
.Footer button > a {
  color: var(--button-text-color);
  text-decoration: none;
}
button:active {
  background-color: var(--content-hover-color);
}
button.pending {
  background-color: #900;
  color: white;
}
