.Header {
  grid-area: header;
  background-color: var(--content-bg-color);
}
.Header ul {
  margin: 0;
  padding: 0;
}
.Header li {
  display: inline-block;
  padding-left: 1em;
}
.flash {
}
.flash.info {
  border: 1px solid #00f;
  background-color: #008;
}
.flash.success {
  border: 1px solid var(--success-border-color);
  background-color: var(--success-bg-color);
}
.flash.error {
  border: 1px solid var(--warning-border-color);
  background-color: var(--warning-bg-color);
}
