.Header {
  grid-area: header;
}
.Header {
  display: flex;
  filter: saturate(70%);
}
.Header > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flash {
  overflow: scroll;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
}
.flash.info {
  border: 1px solid #00f;
  background-color: #008;
}
.flash.success {
  border: 1px solid hsl(120, 100%, 50%);
  background-color: hsl(120, 100%, 95%);
}
.flash.error {
  border: 1px solid var(--warning-border-color);
  background-color: var(--warning-bg-color);
}
.Header div:nth-child(1) {
  justify-content: flex-start;
}
.Header div:nth-child(3) {
  justify-content: flex-end;
}
