.warning {
  width: 50vw;
  color: white;
  background-color: #800;
  border: 1px solid #f00;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.warning h3 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f00;
}
button.confirm {
  background-color: #a00;
}
button.confirm::before {
  content: "Yes, I really want to ";
}
