table {
  width: 100%;
}

th {
  background-color: #222228;
  border-bottom: 1px solid #666;
}

tr:hover {
  cursor: pointer;
  background-color: #555558;
}
td {
  padding: 3px 0 5px 0;
  border-bottom: 1px solid #555558;
}
span.currency-color {
  float: right;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #036;
  margin-top: 4px;
  /* margin-left: 0; */
}
