.Dashboard section {
  border: 1px solid var(--content-border-color);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.Dashboard .SyncSettingsForm input {
  width: 100%;
  font-size: 1.5em;
}
.Dashboard table {
  border: 1px solid var(--content-border-color);
}
.Dashboard table tr:last-child td {
  border-bottom: 0px;
}
.Dashboard li {
  margin-bottom: 10px;
}
details .warning {
  margin-top: 0.5em;
  border: 1px solid var(--warning-border-color);
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
details .warning h3 {
  margin-top: 0.5em;
}
