.Jump label:focus {
  background-color: var(--content-hover-color);
}

.VideoPane {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: black;
  margin-top: 0.75em;
  padding: 1em;
  border-radius: 10px;
}
.VideoPane > div {
  flex: 1;
  /* border: 1px solid greenyellow; */
}
.Displayer video {
  width: 50vw;
}
.VideoController {
  font-weight: bold;
  color: var(--button-border-color);
}
.VideoController .section {
  border: 1px solid var(--content-border-color);
  border-radius: 0.25em;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 0.75em;
}
.VideoController .section label {
  display: block;
}
.VideoController .playback.controls.section {
  display: flex;
}
.VideoController .playback.controls.section > * {
  flex: 1;
  cursor: pointer;
}
.VideoController .playbackRate .control input {
  width: 100%;
}
.ProgressBar {
  width: 100%;
  height: 2px;
}
.ProgressBar > .Progress {
  height: 100%;
  background-color: blue;
}
