.Jump textarea[id$="-hidden"] {
  /* display: none; */
}

.Jump label:focus {
  background-color: var(--content-hover-color);
}

.Displayer video {
  width: 500px;
}

.ProgressBar {
  width: 100%;
  height: 2px;
}
.ProgressBar > .Progress {
  height: 100%;
  background-color: blue;
}
