.Jump label:focus {
  background-color: var(--content-hover-color);
}

.VideoPane {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: black;
  margin-top: 0.75em;
  padding: 1em;
  border-radius: 10px;
}
.Displayer video {
  width: 50vw;
}

.ProgressBar {
  width: 100%;
  height: 2px;
}
.ProgressBar > .Progress {
  height: 100%;
  background-color: blue;
}
