#PhraseCloud {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: top;
  transition-duration: 0.25s;
  opacity: 0.99;
}
#PhraseCloud.hidden {
  top: 100vh;
}
#PhraseCloud .inner {
  margin: 1em;
  overflow: scroll;
  background-color: var(--label-bg-color);
  opacity: 0.95;
  border: 4px double var(--input-border-color);
  border-radius: 10px;
  filter: drop-shadow(5px 5px hsl(var(base-hue), 25%, 65%));
}
#PhraseCloud h2 {
  margin: 0.25em 0 0 0.5em;
}
#PhraseCloud h2 > small {
  color: var(--content-text-color);
  font-size: 0.8rem;
}
#PhraseCloud ul {
  border: 1px solid var(--button-border-color);
  border-radius: 1em;
  padding: 0.25em;
  margin: 0.5em;
  list-style-type: none;
}
#PhraseCloud ul#target {
  background-color: var(--input-bg-color);
  height: 6em;
  overflow: scroll;
}
#PhraseCloud li {
  display: inline-block;
  color: var(--button-text-color);
  background-color: var(--button-bg-image-color);
  border: 1px solid var(--button-border-color);
  border-radius: 1em;
  margin: 0.1em;
  padding: 0.25em;
}
#PhraseCloud li::before {
  content: attr(data-key);
  text-decoration: underline;
  color: hsl(var(--base-hue), 100%, 40%);
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  padding: 0 0.5em 0 0.5em;
  width: 3em;
  height: 3em;
  border-radius: 1em;
  margin-right: 0.5em;
}
#PhraseCloud li.selected {
  filter: brightness(90%);
}
