.VideoPane {
  background-color: black;
  margin-top: 0.75em;
  padding: 1em;
  border-radius: 10px;
}
.VideoPane .Displayer {
  display: flex;
}
.VideoPane .Displayer > div {
  flex: 1;
}
.VideoPane video {
  width: 50vw;
}
.VideoController {
  position: relative;
  font-weight: bold;
  color: var(--button-border-color);
}
.VideoController .section {
  border: 1px solid var(--content-border-color);
  border-radius: 0.25em;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em;
  font-size: 0.75em;
}
.VideoController .section label {
  display: block;
}
.VideoController .playback.controls.section {
  display: flex;
}
.VideoController .playback.controls.section > * {
  flex: 1;
  cursor: pointer;
}
.VideoController .playbackRate .control input {
  width: 100%;
}
.VideoController .delete {
  position: absolute;
  bottom: 0;
  left: 0;
}
.VideoController .delete button.small {
  color: hsl(0, 100%, 20%);
  background-image: none;
  background-color: black;
}
.VideoController .delete button.small:hover {
  color: hsl(0, 100%, 50%);
}
.VideoController .delete button.small.warning {
  color: white;
  background-image: none;
  background-color: red;
}

.ProgressBar {
  width: 100%;
  height: 2px;
}
.ProgressBar > .Progress {
  height: 100%;
  background-color: blue;
}
.Displayer:fullscreen {
  flex-direction: column-reverse;
}
.Displayer:fullscreen video {
  width: 100%;
}
.Displayer:fullscreen .delete {
  display: none;
}
.Displayer:fullscreen ::-webkit-media-controls {
  display: none !important;
}
.Displayer:fullscreen .VideoController {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 50%;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 5px;
}
.Displayer:fullscreen .VideoController .section {
  margin: 0;
}
