.VideoPane {
  background-color: black;
  margin-top: 0.75em;
  padding: 1em;
  border-radius: 10px;
}
.VideoPane .Displayer {
  display: flex;
}
.VideoPane .Displayer > div {
  flex: 1;
  align-items: center;
  text-align: center;
}
.VideoController {
  color: var(--button-border-color);
}
.Displayer svg {
  font-size: 1.5em;
}
.VideoController .section {
  border: 1px solid var(--content-border-color);
  border-radius: 0.25em;
  margin: 0 0.5em 0.5em 0;
  padding: 0.5em;
  font-size: 0.75em;
}
.Displayer .section label {
  display: block;
}
.Displayer .controls.section {
  display: flex;
  flex-direction: row;
  text-align: right;
}
.Displayer .controls.section > * {
  flex: 1;
}
.Displayer .controls.section .playback {
  display: flex;
}
.Displayer .controls.section .playback > * {
  flex: 1;
  cursor: pointer;
  width: 25px;
}
.Displayer .controls.section .volume {
  margin: 0.5em 0 0.5em 0;
}
.Displayer:fullscreen .controls.section .volume {
  margin: 0;
}
.Displayer .controls.section .volume input {
  width: inherit;
}
.Displayer .playbackRate .control input {
  width: 100%;
}
.Displayer .delete {
  position: absolute;
  bottom: 0;
  left: 0;
}
.Displayer .delete button.small {
  color: hsl(0, 100%, 20%);
  background-image: none;
  background-color: black;
}
.Displayer .delete button.small:hover {
  color: hsl(0, 100%, 50%);
}
.Displayer .delete button.small.warning {
  color: white;
  background-image: none;
  background-color: red;
}

.ProgressBar {
  width: 100%;
  height: 2px;
}
.ProgressBar > .Progress {
  height: 100%;
  background-color: blue;
}
.Displayer:fullscreen {
  flex-direction: column-reverse;
}
.Displayer:fullscreen video {
  width: 100%;
}
.Displayer:fullscreen .delete {
  display: none;
}
.Displayer:fullscreen ::-webkit-media-controls {
  display: none !important;
}
.Displayer video {
  width: 75vw;
}
.Displayer .VideoController {
  z-index: 1;
  transform: translateY(-100%);
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 75vw;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
}
.Displayer .VideoController:hover {
  opacity: 1;
}
.Displayer:fullscreen .VideoController {
  margin: 0;
  width: 100vw;
  transform: none;
  opacity: 1;
}
