.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header" "content" "footer";
  align-content: stretch;
  grid-gap: 1px;
  color: #ccc;
}
.Content {
  background-color: var(--content-bg-color);
  overflow: scroll;
}
.Footer {
  grid-area: footer;
}
.Header,
.Footer {
  background-color: var(--content-bg-color);
}
.Header h1,
.Footer h1 {
  font-size: 1.25em;
  margin: 0;
  padding: 5px 5px 0 5px;
}
span.currency-color {
  float: right;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #036;
  margin-top: 4px;
  /* margin-left: 0; */
}
div.jump-details {
  display: flex;
}
div.jump-details > div {
  flex: 1;
}
h2,
.input-group {
  margin: 10px 0px 0px 10px;
}
button {
  color: var(--button-text-color);
  font-weight: var(--button-font-weight);
  background-color: var(--button-bg-color);
  border: var(--button-border-width);
  border-color: var(--button-border-color);
  border-style: var(--button-border-style);
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  margin: 10px 5px 0 10px;
}
button::first-letter {
  color: white;
}
button > a {
  color: var(--button-text-color);
  text-decoration: none;
}
button:active {
  background-color: var(--content-hover-color);
}
button.pending {
  background-color: #900;
  color: white;
}
button.pending {
  background-color: #900;
  color: white;
}
fieldset {
  margin-top: 10px;
  border: 5px;
  border-style: groove;
  border-color: rgba(255, 239, 223, 0.05);
}
fieldset > legend {
  font-weight: bold;
}
fieldset.inner {
  margin-top: 10px;
}
fieldset.inner > legend {
  opacity: 0.75;
}
.input-group {
  /* width: 100vh; */
  display: flex;
  margin-bottom: 10px;
}
.input-group > input,
.input-group > select,
.input-group > textarea {
  background-color: var(--input-bg-color);
  border: 1px solid var(--content-border-color);
  font-size: 1.5em;
  width: 80%;
  padding-left: 5px;
}
.input-group > span.append {
  background-color: var(--label-bg-color);
  color: var(--label-color);
  font-weight: bold;
  border: 1px solid #666;
  border-radius: 0 5px 5px 0;
  padding: 5px 5px 5px 0;
}
.input-group *:first-child {
  width: 25vh;
  padding: 5px 0 0 5px;
  display: flex;
  font-weight: bold;
  color: var(--label-color);
  background-color: var(--label-bg-color);
  border: 1px solid #666;
  border-radius: 5px 0 0 5px;
}
.input-group select {
  appearance: none;
}
.input-group *:last-child {
  border-radius: 0 5px 5px 0;
}
table {
  width: 100%;
}
caption {
  margin: 10px;
  font-weight: bold;
  text-align: left;
  caption-side: top;
}
th {
  background-color: var(--content-border-color);
  border-bottom: 1px solid #666;
}
table#students th:first-child > input {
  float: left;
  padding-left: 5px;
  color: var(--button-text-color);
  font-weight: var(--button-font-weight);
  background-color: var(--button-bg-color);
  border: var(--button-border-width);
  border-style: inset;
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  margin-left: 5px;
  height: var(--input-size);
}
table#students th:first-child > input::placeholder {
  font-weight: var(--button-font-weight);
  color: var(--button-text-color);
}
tr:hover {
  cursor: pointer;
  background-color: var(--content-hover-color);
}
tr.active {
  background-color: var(--content-hover-color);
}
td {
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid var(--content-border-color);
}

/* https://www.w3schools.com/howto/howto_js_snackbar.asp */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 900px; /* Set a default minimum width */
  margin-left: -450px; /* Divide value of min-width by 2 */
  background-color: #800; /* Black background color */
  color: #fff; /* White text color */
  opacity: 0.85;
  text-align: center; /* Centered text */
  border: 1px solid #f00;
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 5vh; /* 30px from the top */
  bottom: 5vh;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
