.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: "header" "content" "footer";
  align-content: stretch;
  grid-gap: 1px;
  color: #ccc;
}
.Header {
  grid-area: header;
}
.Students {
  grid-area: content;
}
.Footer {
  grid-area: footer;
}
.Header,
.Footer {
  background-color: #333;
}
.Header h1,
.Footer h1 {
  margin: 0;
  padding: 5px 5px 0 5px;
}
