.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 30px;
  grid-template-areas: "header" "content" "footer";
  align-content: stretch;
  grid-gap: 1px;
  color: var(--content-text-color);
}
.Content {
  grid-area: content;
  padding: 10px;
  background-color: var(--content-bg-color);
  overflow: scroll;
}
.Footer {
  grid-area: footer;
}
.Header,
.Footer {
  background-color: var(--content-bg-color);
}
span.currency-color {
  float: right;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #036;
  margin-top: 4px;
  filter: var(--currency-color-drop-shadow-color);
}
div.jump-details {
  display: flex;
}
div.jump-details > div {
  flex: 1;
}
.input-group {
  margin: 10px 0px 0px 10px;
}
button {
  color: var(--button-text-color);
  font-size: 1.25em;
  font-weight: var(--button-font-weight);
  background-color: var(--button-bg-color);
  border: var(--button-border-width);
  border-color: var(--button-border-color);
  border-style: var(--button-border-style);
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  margin: 0px 5px 0 10px;
  min-width: 10em;
  filter: var(--button-drop-shadow-color);
  background-image: linear-gradient(
    var(--button-bg-color),
    var(--button-bg-image-color)
  );
}
button:active {
  filter: brightness(90%);
}
.warning {
  background-color: var(--warning-bg-color);
  border-color: var(--warning-border-color);
  background-image: none;
}
button.header-button::first-letter {
  text-decoration: underline;
}
button > a {
  color: var(--button-text-color);
  text-decoration: none;
}
fieldset {
  margin-top: 0.25em;
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  filter: drop-shadow(2px 2px var(--fieldset-drop-shadow-color));
}
fieldset > legend {
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  padding: 0.25em 2em 0.25em 2em;
}
fieldset.inner > legend {
  text-align: right;
}
.input-group {
  display: flex;
}
.input-group > input,
.input-group > select,
.input-group > textarea {
  color: var(--input-text-color);
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  font-size: 1.25em;
  width: 80%;
  padding-left: 5px;
}
.input-group *:first-child {
  width: 25vh;
  padding: 0.5em 0 0.5em 0.5em;
  display: flex;
  font-weight: normal;
  color: var(--label-text-color);
  background-color: var(--label-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px 0 0 5px;
}
.input-group select,
.input-group textarea {
  appearance: none;
}
.input-group *:last-child {
  border-radius: 0 5px 5px 0;
}
.input-group > input.error,
.input-group > select.error {
  border-color: var(--warning-border-color);
  background-color: var(--warning-bg-color);
}

table {
  width: 100%;
  border: 1px outset var(--content-border-color);
  border-spacing: 0;
  /* border-collapse: collapse; */
  filter: drop-shadow(2px 2px var(--table-drop-shadow-color));
}
caption {
  margin-left: 10px;
  font-weight: bold;
  text-align: left;
  caption-side: top;
}
th {
  background-color: var(--content-bg-color);
}
thead > th {
  border-bottom: 1px solid var(--content-text-color);
}
table#students th:first-child > input {
  float: left;
  padding-left: 5px;
  color: var(--input-text-color);
  font-weight: var(--button-font-weight);
  background-color: var(--button-bg-image-color);
  border: var(--button-border-width);
  border-style: inset;
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  margin-left: 5px;
  height: var(--input-size);
}
table#students th:first-child > input::placeholder {
  font-weight: var(--button-font-weight);
  color: var(--input-text-color);
}
td: {
  border: 0;
}
tr {
  background-color: var(--label-bg-color);
}
tr:hover {
  cursor: pointer;
  background-color: var(--button-bg-color);
  filter: saturate(75%);
}
tr.active td {
  background-color: var(--button-bg-image-color);
  filter: brightness(98%);
}
td {
  padding: 5px 0 5px 10px;
}
