/* declare css variables */
:root {
  --content-bg-color: #123;
  --content-border-color: #345;
  --content-hover-color: #235;

  --button-text-color: #fed;
  --botton-bg-color: #321;
  --button-border-color: #abc;
  --button-border-width: 1px;

  --label-bg-color: #345;
  --input-bg-color: #e0e0ff;
  --input-border-color: #abc;
  --input-size: 2em;
}

body {
  background-color: #678;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
