/* declare css variables */
:root {
  --base-hue: 235;
  --content-bg-color: hsl(var(--base-hue), 50%, 94%);
  --content-text-color: hsl(var(--base-hue), 100%, 10%);
  --content-border-color: hsl(var(--base-hue), 25%, 25%);

  --button-font-weight: bold;
  --button-text-color: hsl(var(--base-hue), 100%, 10%);
  --button-bg-color: hsl(var(--base-hue), 50%, 92%);
  --button-bg-image-color: hsl(var(--base-hue), 50%, 90%);
  --button-border-color: hsl(var(--base-hue), 50%, 92%);
  --button-border-width: 1px;
  --button-border-radius: 1.05em;
  --button-border-style: outset;
  --button-height: 2em;

  --label-bg-color: hsl(var(--base-hue), 50%, 92%);
  --label-text-color: hsl(var(--base-hue), 100%, 10%);

  --input-bg-color: hsl(var(--base-hue), 50%, 95%);
  --input-text-color: hsl(var(--base-hue), 100%, 10%);
  --input-border-color: hsl(var(--base-hue), 50%, 87%);
  --input-size: 2em;

  --success-bg-color: hsl(120, 100%, 90%);
  --success-border-color: hsl(120, 100%, 50%);
  --warning-bg-color: hsl(360, 100%, 90%);
  --warning-border-color: hsl(360, 100%, 50%);

  --currency-color-drop-shadow-color: drop-shadow(
    1px 1px hsl(var(--base-hue), 20%, 50%)
  );
}

body {
  background-color: var(--button-border-color);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
