/* declare css variables */
:root {
  --base-hue: 240;
  --content-bg-color: hsl(var(--base-hue), 25%, 20%);
  --content-text-color: hsl(var(--base-hue), 25%, 80%);
  --content-border-color: hsl(var(--base-hue), 25%, 50%);

  --table-drop-shadow-color: hsl(var(--base-hue), 75%, 25%);
  --button-font-weight: normal;
  --button-text-color: hsl(var(--base-hue), 25%, 100%);
  --button-bg-color: hsl(var(--base-hue), 50%, 25%);
  --button-bg-image-color: hsl(var(--base-hue), 50%, 15%);
  --button-border-color: hsl(var(--base-hue), 50%, 50%);
  --button-border-width: 1px;
  --button-border-radius: 5px;
  --button-border-style: outset;
  --button-height: 2em;
  --button-drop-shadow-color: drop-shadow(
    2px 2px hsl(var(--base-hue), 100%, 10%)
  );

  --fieldset-drop-shadow-color: hsl(var(--base-hue), 100%, 5%);
  --label-bg-color: hsl(var(--base-hue), 35%, 25%);
  --label-text-color: hsl(var(--base-hue), 35%, 80%);

  --input-bg-color: hsl(var(--base-hue), 50%, 99%);
  --input-text-color: hsl(var(--base-hue), 20%, 50%);
  --input-border-color: hsl(var(--base-hue), 50%, 75%);
  --input-size: 2em;

  --success-bg-color: hsl(120, 100%, 20%);
  --success-border-color: hsl(120, 100%, 50%);
  --warning-bg-color: hsl(360, 100%, 20%);
  --warning-border-color: hsl(360, 100%, 50%);

  --currency-color-drop-shadow-color: drop-shadow(
    3px 2px hsl(var(--base-hue), 25%, 25%)
  );
}

body {
  background-color: hsl(var(--base-hue), 25%, 75%);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
